.force-scroll {

    overflow-y: scroll;
    
    height: 200px;
    
    }
    .vl {
        border-left: 6px solid green;
        height: 5px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
      }
